@CHARSET "UTF-8";

/**
 * Global layout
 */
html,body {
	font-family: arial;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	width: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/**
 * Layout panes
 */
#topFrame {
	padding: 0;
}

#leftFrame {
	padding: .5em;
}

#rightFrame {
	padding: .5em;
}

/* Override jquery.layout plug-in's CSS */
.ui-layout-pane {
	background: inherit;
	border: none;
	padding: 0;
	overflow: none;
}

/**
 * Document's title and toolbar
 */
h1 {
	display: inline;
	margin: .5em;
	font-size: 1.4em;
	vertical-align: middle;
}

#toolbar {
	padding: 4px;
	display: block;
}

/**
 * inline styles
 */
.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.valignTop {
	vertical-align: top;
}

.valignMiddle {
	vertical-align: middle;
}

.editableform {
	margin: 0;
	padding: 0;
}

form {
	border: 0;
	margin: 0;
	padding: 5px;
}

form p {
	margin: 0;
}

form span.error {
	background-color: #f2dede;
	border-color: #eed3d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #b94a48;
	padding: 4px 8px 4px 8px;
	font-size: .8em;
}

.minimal_form {
	border: 0;
	margin: 0;
	padding: 0;
}

.minimal_form p {
	margin: 0;
}

.inline_form {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
}

.inline_form p {
	margin: 0;
}

/**
 * accordion
 */
#accordion .ui-accordion-content {
	padding: 0;
}

/**
 * flash
 */
#flash>div {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#flash>div.warning, .ui-tooltip.warning {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}

#flash>div.ok, .ui-tooltip.ok {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

#flash>div.error, .ui-tooltip.error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

#flash>div.info, #flash>div.alert, .ui-tooltip.info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

input.error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
    margin-bottom: 4px;
}

span.error {
	color: #b94a48;
}

.record-table {
	xxmargin-left: auto;
    xxmargin-right: auto;
}

.record-table th, .record-table td {
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.record-table caption {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	font-variant: normal;
	margin-bottom: .6em;
	margin-top: .6em;
}

th.record-table-uid, td.record-table-uid {
	width: 3em;
}

td.record-table-uid {
	text-align: right;
}

th.record-table-name, td.record-table-name {
	width: 10em;
}

td.record-table-name {
	text-align: left;
}

th.record-table-date, td.record-table-date {
	width: 7em;
}

td.record-table-date {
	text-align: center;
}

th.record-table-datetime, td.record-table-datetime {
	width: 10em;
}

td.record-table-datetime {
	text-align: center;
}

th.record-table-label, td.record-table-label {
	width: 15em;
}

td.record-table-label {
	text-align: left;
}

/**
 * x-editable
 */
.editable-click:hover {
    background-color: #bbeeff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**
 * Currently for Order task list...
 */
.container-fluid {padding: 5px; width: 100%;}
.row-xs {display: block; clear: left; overflow: hidden;}
.col-xs-1  {display: inline-block; vertical-align: middle; min-width:   3em; width:   8.33%; float: left; padding: 5px;}
.col-xs-2  {display: inline-block; vertical-align: middle; min-width:   7em; width:  16.66%; float: left; padding: 5px;}
.col-xs-4  {display: inline-block; vertical-align: middle; min-width:  14em; width:  33.00%; float: left; padding: 5px;}
.col-xs-5  {display: inline-block; vertical-align: middle; min-width:  17em; width:  41.66%; float: left; padding: 5px;}
.col-xs-6  {display: inline-block; vertical-align: middle; min-width:  21em; width:  50.00%; float: left; padding: 5px;}
.col-xs-7  {display: inline-block; vertical-align: middle; min-width:  25em; width:  58.33%; float: left; padding: 5px;}
.col-xs-10 {display: inline-block; vertical-align: middle; min-width:  35em; width:  83.33%; float: left; padding: 5px;}
.col-xs-12 {display: inline-block; vertical-align: middle; min-width:  42em; width: 100.00%; float: left; padding: 5px;}
