@CHARSET "UTF-8";

#employee_update label {
	width: 8em;
	display: inline-block;
	text-align: left;
	font-size: .9em;
	font-weight: bold;
}

#command_update label {
	width: 9em;
	display: inline-block;
	text-align: left;
	font-size: .9em;
	font-weight: bold;
}

.selectEmpButton {
	width: 12em;
	text-align: left;
	font-size: .9em;
}

.selectEmpButton img {
	vertical-align: middle;
	border: none;
}

.colorCuisines {
	background-color: yellow;
	color: black;
}

.colorBains {
	background-color: #64FE2E;
	color: black;
}

.colorBureaux {
	background-color: orange;
	color: black;
}

.colorDressings {
	background-color: aqua;
	color: black;
}

.colorMagasins {
	background-color: pink;
	color: black;
}

.colorMeubles {
	background-color: red;
	color: black;
}

.colorRenovation {
	background-color: #0B610B;
	color: white;
}

.colorConges {
	background-color: #6A0888;
	color: white;
}

.colorNettoyage {
	background-color: #61380B;
	color: white;
}

.colorDechargement {
	background-color: #8A2908;
	color: white;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 3px 0 1px 0;
}

.sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
}

.sortable li span.ui-icon {
	position: absolute;
	margin-left: -1.3em;
}

.picture_box {
	background-color: #f7f7f7;
	border: 3px solid #ccc;
	margin: 10px;
	display: inline-block;
}

/* rs carousel */
#employee_carousel {
	
}

#employee_carousel ul {
	position: relative; /* required */
	overflow: hidden; /* required */
	list-style: none;
	margin: 0;
	padding: 0;
}

#employee_carousel ul li {
	float: left; /* required */
	margin: 0 5px 0 5px;
	/*
    width:100px;
    height:200px;
*/
}

#employee_carousel .rs-carousel-mask {
	position: relative; /* required */
	overflow: hidden; /* required */
	width: 540px; /* required */
	border: 5px solid black;
}

#employee_carousel .pagination-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

#employee_carousel .pagination-links li {
	display: inline;
}

#employee_carousel .pagination-links li.current {
	background: grey;
}

#employee_carousel .disabled {
	color: grey;
}
