alembic==0.8.4
Babel==2.2.0
Beaker==1.7.0
crank==0.7.3
decorator==4.0.6
FormEncode==1.3.0
Genshi==0.7
# Intranet>2
Mako==0.7.3
MarkupSafe==0.23
nose==1.3.7
Paste==2.0.2
PasteDeploy==1.5.2
PasteScript==2.0.2
Pygments==2.7.4
Pylons>1.0,<1.1  # Pylons version 1.0.2 has disappeared!
python-editor==0.5
pytz==2015.7
repoze.lru==0.6
repoze.tm2==2.0
Routes==2.2
simplejson==3.8.1
six==1.10.0
speaklater==1.3
SQLAlchemy==1.0.11
Tempita==0.5.2
transaction==1.4.4
TurboGears2==2.2.2
tw2.core==2.2.3
tw2.forms==2.2.0.3
WebError==0.11
WebFlash==0.1a9
WebHelpers==1.3
WebOb==1.1.1
WebTest==1.4.3
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
